:root {
    --heart-color: pink;
    --heart-size: 15vh;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    animation-name: back;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.heart {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    background-color: var(--heart-color);
    width: var(--heart-size);
    height: var(--heart-size);
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.heart::after {
    background-color: var(--heart-color);
    position: absolute;
    content: "";
    width: var(--heart-size);
    height: var(--heart-size);
    top: 0vh;
    left: calc( var(--heart-size) / 2);
    border-radius: 50%;
}

.heart::before {
    background-color: var(--heart-color);
    position: absolute;
    width: var(--heart-size);
    height: var(--heart-size);
    bottom: calc( var(--heart-size) / 2);
    left: 0vh;
    content: "";
    border-radius: 50%;
}

@keyframes beat {
    0% {
        transform: scale(1) rotate(-45deg);
    }
    50% {
        transform: scale(0.4) rotate(-45deg);
    }
}

@keyframes back {
    50% {
        background-color: rgb(225, 143, 156);
    }
}