@font-face {
    font-family: Inter-ExtraBold;
    src: url('./font/Inter/static/Inter-ExtraBold.ttf');
}

@font-face {
    font-family: Inter-SemiBold;
    src: url('./font/Inter/static/Inter-SemiBold.ttf');
}

:root {
    --color-white: #dedede;
    --color-text: 0, 46, 88, 100%;
    --color-main-background-1: 0, 46, 88, 60%;
    --color-main-background-2: 0, 115, 73, 15%;
    --color-footer-background: 0, 21, 39, 40%;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('./img/background.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100vw;
}

.wrapper {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.flex-container {
    display: flex;
}

.column {
    flex-direction: column;
}

.clock-style {
    justify-content: space-between;
}


/* Title */

.wrapper .title {
    font-family: Inter-SemiBold;
    font-weight: 800;
    color: rgba(var(--color-text));
    font-size: 64px;
    text-align: center;
}


/* Main clock */

main {
    font-family: Inter-ExtraBold;
    background-color: rgba(var(--color-main-background-2));
    width: 65%;
    padding: 30px;
    margin: auto;
}

.inline-time {
    display: flex;
    justify-content: space-between;
}

.time-box {
    border: 0px solid white;
    display: inline-block;
    background-color: rgba(var(--color-main-background-1));
    color: var(--color-white);
    text-align: center;
    padding: 30px 30px;
    width: 100%;
}

.num {
    font-size: 120px;
    margin-top: 30px;
}

.label {
    font-size: 40px;
    margin-top: 30px;
    text-transform: uppercase;
}

.colons {
    display: inline-block;
    padding: 60px 10px;
    font-size: 128px;
    color: rgba(var(--color-text));
}


/* Footer */

.wrapper footer {
    font-family: Inter-ExtraBold;
    font-size: 24;
    color: var(--color-white);
    background-color: rgba(var(--color-footer-background));
    height: 93px;
    display: flex;
    justify-content: space-between;
}

footer .info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5rem;
}

svg {
    width: 100px;
    margin-right: 5rem;
    fill: var(--color-white);
}